*{
    margin:0px;
    padding:0px;
}

html{
    scroll-behavior: smooth;
}

header {
    /* border:2px black solid; */
    padding-left:30px;
}

#logoname{
    margin-left:40px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 40px;
}


.navigation{    
    float: right;
    margin-right: 10%;
}

.navigation a{
    text-decoration: none;
    font-size: x-large;
    padding:20px;
    margin-top: 12px;
}

.navigation img{
    margin-top: 12px;
} 

.navigation a:hover {
    border-bottom: rgb(234, 132, 14) 3px solid;
    color: black;
}

 .container{
    height:41.1em;
    /* border:2px red solid; */
    background-color: yellow;
} 

 .abt_me_text{
    /* border:2px black solid; */
    float: left; 
    background-color: rgba(255, 255, 0, 0.519);
    margin-left:60px;
    margin-top: 16%;
    text-align: center;
}  
.abt_me_text span{
    color:rgb(252, 42, 9);
    font-size: larger;
}
 .abt_me_image{
    float:right; 
    margin-right: 10em;    
    margin-top: 7%; 
    width: 400px; 
    height: 400px;
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;
}   

.abt_me_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }  
.abtme_footer{
    margin-top: 500px;
    margin-left: 10%;
    align-items: center;
}
.abtme_footer th{
    width: 250px;
}
.abtme_footer td{
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Eduatation */
.abt_me{
    border:2px rgb(248, 245, 245) solid;
    padding:50px;
    /* background-image:url(/images/graduation.jpg); */
    background-repeat:round;
    background-size: contain; 
    height: 600px;
    color:rgb(224, 211, 16);
}

.abt_me h1{
    text-shadow: 1px 1px black;
    text-decoration:underline;
    text-decoration-color: brown;
}
.abt_me .box1{
    background-color: rgb(75, 75, 86);
    border: 3px black solid;
    border-radius: 5%;
    width:50%;
    box-shadow: 5px 5px rgb(37, 40, 40);
    text-shadow: 2px 2px rgb(107, 21, 21);
}

.abt_me .box2{
    background-color: rgb(75, 75, 86);
    border: 3px black solid;
    border-radius: 5%;
    width:50%;
    box-shadow: 5px 5px rgb(37, 40, 40);
    text-shadow: 2px 2px rgb(107, 21, 21);
}

.abt_me .box3{
    background-color: rgb(75, 75, 86);
    border: 3px black solid;
    border-radius: 5%;
    width:50%;
    box-shadow: 5px 5px rgb(37, 40, 40);
    text-shadow: 2px 2px rgb(107, 21, 21);
}
.abt_me h1{
    text-align: center;
    font-size:xx-large;
}

.abt_me h2{
    padding-left:50px;
}

.abt_me li{
    padding:10px;
    padding-left: 25px;
    list-style:none; 
}



/* Experience */

.exp_me{
    border:2px black solid;
    padding:50px;
    background-color: rgb(182, 234, 222);  
    /* float:right;
    background-image:url(/images/graduation.jpg);
    background-repeat:round;
    background-size: contain;  */
    height: 600px;
    color:brown;
}

.exp_me h1{
    text-shadow: 1px 1px black;
    text-decoration:underline;
    text-decoration-color: brown;
}
.exp_me .box1{
    border: 3px black solid;
    border-radius: 5%;
    width:50%;
    box-shadow: 5px 5px rgb(37, 40, 40);
    text-shadow: 2px 2px rgb(239, 238, 238);
}

.exp_me .box2{
    border: 3px black solid;
    border-radius: 5%;
    width:50%;
    box-shadow: 5px 5px rgb(37, 40, 40);
    text-shadow: 2px 2px rgb(239, 238, 238);
}

.exp_me .box3{
    border: 3px black solid;
    border-radius: 5%;
    width:50%;
    box-shadow: 5px 5px rgb(37, 40, 40);
    text-shadow: 2px 2px rgb(239, 238, 238);
}
.exp_me h1{
    text-align: center;
    font-size:xx-large;
}

.exp_me h2{
    padding-left:50px;
}

.circle{
    border:5px black solid; 
    float:right;
    /* padding-top: 50px; */
    margin-right: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-align: center;
    background: #e7e96f;  
}

.circle span{
    line-height: 260px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200px;

}
/* Contact */

#con{
    background-color: rgb(212, 238, 238);
}

.contact{
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-top: 5px;
    border:2px solid black;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    width:70%;
    text-align: center;
}

input[type=text],input[type=email],input[type=number], textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

.contact button{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}  

.contact button:hover{
    background-color: #4fb754;
    color:black;
}

.top_pointer{
    display: inline-block;
    margin-left: 90%;
    /* float:right;  */
    align-content: center;
    margin-right: 50px;
}

footer {
    background-color:black;
    border-radius: 2px;
    color: white;
    height: 7.5em;
    margin-top: 4%; 
    text-align:center;
}

footer li{
    display:inline-block;
    list-style: none;
    padding:50px; 
} 
.footer1{
    display:inline-block;
}
.footer2{
    display:inline-block;
    margin-right:50px;
}